
:root {
    /* General
    */
    --DJ-body-max-width: 1080px;
    --DJ-article-max-width: 760px;
    --DJ-main-margin-right: 31%;
    --DJ-main-margin-left: 120px;
    --DJ-nav-width: (100px);
    --DJ-sidenote-width : 29%;
    --DJ-sidenote-right-margin: -29%;

--DJ-body-color: #fff;
--DJ-body-font-color: #111;
--DJ-font-size: 12px;
--DJ-menu-width: 8ch;
--DJ-menu-padding-right: 1em;
--DJ-article-left-margin: 400px;
--DJ-main-left-margin : 120px;
--DJ-main-width: 65%;

--DJ-body-font-size:  1.1rem;
--DJ-font-color: #111;
--DJ-link-color: #711;
--DJ-link-hover-color: #999999;
--DJ-serif-font-stack: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
}

html {
    padding: 0;
    margin: 0;
}


/**************/
/* structural */
/**************/
html {
    padding:0; 
    margin: 0;

}
body {
    margin: 0 auto;
    max-width: var(--DJ-body-max-width);
    background-color: var(--DJ-body-color);
}

main {
    margin-right: var(--DJ-main-margin-right);
    margin-left: var(--DJ-main-margin-left);
    margin-top: 2em;
    font-size: 17px;
    float:left;
}

nav {
    display: block;
    font-variant: small-caps;
    font-size: 1.2rem;
    padding: 0px;
    margin: 0px;
    width: var(--DJ-nav-width);
    position: absolute;
    padding: 0;
    margin: 0

}

article {
    display: block;
    max-width: var(--DJ-article-max-width);
}



.sidenote {
    float: right;
    clear: right;
    position: relative;
    width: calc(var(--DJ-sidenote-width) +  120px);
    margin-right: calc(var(--DJ-sidenote-right-margin) - 120px);
    display:block;
    font-size: 1rem;
}

/************************/
/*  nav layout          */
/************************/
nav ul {
    list-style: none;
    padding: 2em 0 0 0 ;
    margin: 0; 
}
/************************/
/*  main content layout */
/************************/
section {
    padding: 0rem 0 2rem 0;
    line-height: 1.6em;
}

section.heading {
    padding-bottom: 10px;
}
section:nth-child(1) {
    padding-top: 0rem;
}
section h1:first-child, article section:first-child p:first-child {
    padding-top: 0;
    margin: 0rem 0 0rem 0;
}

section p:first-child {
    margin-top: 0;

}

section.tags {
    margin-top: 2em;
}

ul.recent li {
    list-style-type: '\0700\0020';
}
ul.recent li  p {

margin-bottom: 0.25em;
line-height: 1.3m;
}




article:first-child {
    margin-top: 0;
}
article:first-child section:first-child{
    margin-top: 0; padding-top:0
}



article h2 {
    margin: 0 0 0 0;
    border-bottom: 2px solid #c0c0c0;
}





h2 + p {
    margin-top: 0.4rem;
}



blockquote {
    background-color: #f6f6f6;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    font-style: italic;
    padding: 1em;
    margin: 0.5em 0.5em 0.5em 0.5em;
}

blockquote footer::before {
    content: '\2014';
}
blockquote footer {
    text-align: right;
    font-style: normal;
    font-size:smaller;
    font-weight: 500;
    line-height: 1.4em;

}

blockquote footer cite {
    text-align: right;
    font-style: italic;
    font-weight: normal;
  


}

.sidenote .blockquote {
    font-size:normal;

}



.sidenote * blockquote {
    border:none;

}



#metadata {
    margin-top: 1em;

}

#pagedates {
    font-size: 0.9rem;

}

ul#pagedates, ul#articletags {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}


ul#pagedates li, ul#articletags li {
    display:inline-block;    margin: 0;
    padding: 0;
}

  ul#pagedates li::before,  ul#articletags li::before {
    float: left;
  }

  ul#pagedates li:not(:first-child), ul#articletags li:not(:first-child)  {
    margin-top: 0rem;
  }

 #articletags li:not(:first-child)::before {
    content: '\00B7\00A0';
    padding: 0;margin:0;
  }


  .lastmod::before {
    content: '\FF5C';
  }

  .datestarted, .datechanged {
    cursor:help;
  }
  .datestarted:hover, .datechanged:hover{
    background-color: antiquewhite;
  }

figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 100%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 3em 0;
    text-align: center;
}






figure a {
    background: unset;
    text-shadow: unset;
    text-decoration: 10px solid #000;
}

.figcaption {
    font-style: italic;
    font-size: smaller;
    line-height: 1.1em;
}

  /*************/
/* SIDENOTES */
/*************/


.sidenotecontents {
    margin:0px 10px 10px 10px;
    padding: 0px 10px 0px 10px;
    line-height: 1.2em;
    
}

.sidenotecontents blockquote {
    margin: 0 1em 0 1em;
}

@media only screen and (min-width: 960px) {
    body {
        max-width: 1280;
    }

}

/**************/
/* fonts */
/**************/
body {

    font-family:  var(--DJ-serif-font-stack);
    font-size: var(--DJ-body-font-size);
}
h1 {
    font-size: 2rem;
    font-weight: 500;
}
h2 {
    font-size: 1.5rem;  
    font-weight: 400;
}
nav {
    font-variant: small-caps;
}



 
figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;


    margin: 0;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    max-width: 40%;
}

figure.fullwidth figcaption {
    margin-right: 24%;
}   


.pagedescription {
    font-style: italic;
    line-height: 1.6rem;
    margin-bottom: 2em;
}

.pagedescription em {
    text-decoration: underline;
    font-style:unset;
}

@media only screen and (max-width: 768px) {
    
    /**************/
    /* structural */
    /**************/
    body {
        padding:0 1rem 1rem 1rem; 
    }
    
    main {
        margin: 0 1rem 0 1rem;
        padding-top:0rem;
    }

    article {

        width: 100%;

    }   

    section h1:first-child, article section:first-child p:first-child {
        padding-top: 0;
        margin-top: 1rem;
    }

    figure {
        max-width: 90%;
    }

    nav {
        position: relative;
        width:100%;
        clear: both;
        float:none;
        display: flex;
        padding-top: 1rem
    }


    nav ul {
        list-style: none;
        padding: 0;
        margin: 0 0 0 1rem;
    }

    nav ul  li {
        float:left;
        margin: 0; padding: 0;
      }

      nav ul  li::after {
        content: '\00A0';
      }
      nav ul  li:not(:first-child)::before {
        content: '\00B7\00A0';
      }



      .sidenote {
        display: block;
        float: none;
        margin: 5% 10% 5% 10%;
        width: 80%;

        padding: 10px 0 0 0;
 
    }

    /****************/
    /* fonts        */
    /***************/


}


