{{- if eq .Section "writing" -}}
  {{- $headings := len .Fragments.Identifiers -}}
  {{- $show := and (ge .WordCount 1000) (ge $headings 3) -}}
  {{- if isset .Params "toc" -}}
    {{- $show = .Params.toc -}}
  {{- end -}}
  {{- if and $show (gt $headings 0) -}}
    {{- $startLevel := 2 -}}
    {{- if findRE `<h1\b` .Content -}}
      {{- $startLevel = 1 -}}
    {{- end -}}
    <div class="article-contents" role="navigation" aria-label="On this page">
      <p class="contents-label">On this page</p>
      {{- $contents := .Fragments.ToHTML (int $startLevel) 3 false -}}
      {{- $contents = replace $contents `<nav id="TableOfContents">` "" -}}
      {{- replace $contents "</nav>" "" | safeHTML -}}
    </div>
  {{- end -}}
{{- end -}}
