{{ if .Params.date }}<div id="metadata">
    {{ if .Params.tags }}
    <ul id="articletags">
        {{ range .Params.tags }}
        <li><em><a href="/tags/{{ . }}" title="all pages with the tag '{{ . }}'">{{ . }}</a></em></li>
        {{ end }}
    </ul>
    {{ end }}
    <ul id="pagedates">
        {{ if .Params.date }}<li><span class="datestarted" title="Date the page contents were started"><em>{{ .Params.date.Format .Site.Params.dateFormat }}</em></span></li>{{end}}   
        {{ if .Lastmod }}<li class="lastmod"><span  class="datechanged" title="Date of last significant change to this page"><em>{{ .Lastmod.Format .Site.Params.dateFormat      }}</em></span></li>{{end}}   
    </ul>
</div>{{end}}