<nav id="sidebar" aria-label="Primary">
  <ul>
    <li><a href="{{ "/" | relURL }}"{{ if .IsHome }} aria-current="page"{{ end }}>Site</a></li>
    <li><a href="{{ "/writing/" | relURL }}"{{ if eq .Section "writing" }} aria-current="page"{{ end }}>Writing</a></li>
    <li><a href="{{ "/topics/" | relURL }}"{{ if eq .Data.Plural "topics" }} aria-current="page"{{ end }}>Topics</a></li>
    <li><a href="{{ "/links/" | relURL }}"{{ if eq .Section "links" }} aria-current="page"{{ end }}>Links</a></li>
    <li><a href="{{ "/about/" | relURL }}"{{ if eq .RelPermalink "/about/" }} aria-current="page"{{ end }}>About</a></li>
  </ul>
</nav>
