
:root {
    /* General
    */
--DJ-font-size: 12px;
--DJ-menu-width: 100px;
--DJ-menu-padding-right: 10px;
--DJ-font-color: #111;
--DJ-link-color: #711;
--DJ-serif-font-stack: "Source Serif Pro", "Apple Garamond", "Baskerville", "Libre Baskerville", "Droid Serif", "Times New Roman", "Times", serif, "Noto Emoji", "Quivira";
}

html {
    font-size: var(--DJ-font-size);
}
h1, article section h1 {

        font-family:  var(--DJ-serif-font-stack);
        font-weight:  400; 
}

body {

    font-family:  var(--DJ-serif-font-stack);
}
nav a:link, nav a:visited {
    color: inherit;
}
a:link, a:visited {
    color: #c11;
}
a:link, .tufte-underline, .hover-tufte-underline:hover {
    color: #c00;
    text-decoration: none;
    background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(currentColor, currentColor);
    background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(currentColor, currentColor);
    -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
    background-repeat: no-repeat, no-repeat, repeat-x;
    text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
    background-position: 0% 93%, 100% 93%, 0% 93%;
}

p :first-of-type::first-letter {
font-size:xx-large;
float: left;
line-height: 85%;
width: .7em;


}

article {
    padding: 0rem 0rem 4rem 0rem;
    margin-left: var(--DJ-menu-width);
    text-align: justify;
    hyphens: auto;
}

article h1 {
    padding-top:0;
    margin-top: 1rem; 
    font-size: 3rem;
    font-weight: 600;
    text-align:left;
}
section h1 {
    margin-top: 1rem;  
}
section h2 {
font-style: normal;
}

blockquote p {
    width: 65%;
    margin-right: 40px;
}

section > p, section > footer, section > table {
    width: 65%;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.marginnote {
    margin-right: -45%;
    width: 35%;
}

#sidebar {
    width:var(--DJ-menu-width);
    position: absolute;
    font-variant: small-caps;
    padding: 0 20px 0 0;
    margin-top: 1rem;
    padding-right: var(--DJ-menu-width) + var(--DJ-menu-padding-right);
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0; 
}



#pagedates {
    font-size: 1.1rem;
    font-style: italic;
}
ul#pagedates {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;   
}


ul#pagedates li {
    display:inline-block;
}

  ul#pagedates li::before {
    float: left;
  }

  ul#pagedates li:not(:first-child) {
    margin-top: 0rem;
  }

  #pagedates li:not(:first-child)::before {
    content: '\00B7\00A0';
  }


  
.poetry  * {    font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-style: italic;
    margin-top:0 rem;
}

.poetry p.poemtitle { font-style: normal; 
    font-weight: bold;
    margin-bottom: 0;

}


.poetry p {

    margin-bottom: 0;  
}

.fagpacket {
    border: 1px solid #ccc;
    padding: 1em;

    font-family: "Architects Daughter", serif;
    margin-bottom: 1em;
    padding-bottom: 0em;
    background-color: #fcf6e7;
}

.break {
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
    padding-bottom: 0;
    height: 1em;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 49 9' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;'%3E%3Cg%3E%3Cpath d='M4.397,4.371c0.06,0.043 -0.2,0.834 -0.901,1.168c-0.879,0.419 -2.405,0.167 -3.139,-1.034c-0.735,-1.203 -0.501,-3.474 2.304,-4.243c2.805,-0.768 4.942,0.301 6.512,1.269c1.569,0.97 5.176,4.208 7.28,5.211c2.104,1.001 4.041,0.768 4.675,0.133c0.635,-0.636 0.417,-2.035 -0.067,-2.438c-0.601,-0.501 -1.269,-0.301 -1.502,-0.134c-0.234,0.167 -0.316,-0.723 0.2,-1.369c0.668,-0.835 2.707,-1.051 3.439,0.568c0.635,1.403 0.234,3.773 -1.97,4.475c-2.003,0.638 -4.442,-0.034 -7.247,-2.137c-2.805,-2.105 -4.708,-3.94 -6.612,-4.509c-1.903,-0.566 -3.409,0.047 -3.941,1.069c-0.433,0.834 -0.012,1.787 0.268,1.936c0.501,0.268 0.568,-0.066 0.701,0.035Z' style='fill:%23040000;fill-rule:nonzero;'/%3E%3Cpath d='M43.793,4.371c-0.06,0.043 0.2,0.834 0.901,1.168c0.879,0.419 2.405,0.167 3.139,-1.034c0.735,-1.203 0.501,-3.474 -2.304,-4.243c-2.805,-0.768 -4.943,0.301 -6.512,1.269c-1.569,0.97 -5.176,4.208 -7.28,5.211c-2.104,1.001 -4.041,0.768 -4.675,0.133c-0.635,-0.636 -0.417,-2.035 0.067,-2.438c0.601,-0.501 1.268,-0.301 1.502,-0.134c0.234,0.167 0.317,-0.723 -0.2,-1.369c-0.668,-0.835 -2.707,-1.051 -3.44,0.568c-0.634,1.403 -0.233,3.773 1.971,4.475c2.003,0.638 4.441,-0.034 7.246,-2.137c2.806,-2.105 4.709,-3.94 6.613,-4.509c1.903,-0.566 3.409,0.047 3.94,1.069c0.434,0.834 0.013,1.787 -0.267,1.936c-0.501,0.268 -0.568,-0.066 -0.701,0.035Z' style='fill:%23040000;fill-rule:nonzero;'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}


.sidenote, .marginnote {
    float: right;
    clear: right;
    margin-right: -50%;
    width: 40%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.marginnote * {
    font-size: 1.1rem;
    line-height: 1.3;
    clear:none;
}

.marginnote::before {
        counter-increment: marginnoteid; /* Increment the value of section counter by 1 */
}




.sidenote-number:after, .sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.marginwrap {

    float: right;
    clear: right;
    margin-right: 2.5%;
    width: 26%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
    padding-left:0;
}

.marginwrap *  {
    width:100%;
    }

.marginwrap .marginnote {
    margin-right:0;
}

.marginwrap .marginnote * {
    width:100%;
    max-width: 100%;
    width:fit-content;
}

.marginwrap .marginnote blockquote {

    width:fit-content;
    margin-left: 1rem;
    margin-right: 1rem;
}
.marginwrap .marginnote blockquote * {

        margin-left: 0;
        margin-right: 0;
        padding-left:  0;
        padding-right:  0;
}

.more {padding-left:8%}
.more::after {content: '\00BB'}

@media (max-width: 760px) {

    html {
        font-size: var(--DJ-font-size);
    }

    article {
        margin-left: 0px;

    }

    section > p, section > footer, section > table {
        width: 100%;
    }

    blockquote p {
        width: 90%;
    }
    #sidebar {
        width:100%;
        display: flex;
        position:relative;
        font-variant: small-caps;
        padding: 0 40px 0 10px;
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
        margin: 0; 
    }

    #sidebar ul  li {
        float: left;
        margin: 0;
        /*    margin: 0 auto;*/
      }

      #sidebar ul  li::after {
        content: '\00A0';
      }
      #sidebar ul  li:not(:first-child)::before {
        content: '\00B7\00A0';
      }

      .marginwrap {
        float:left;
        clear:both;
        display:block;
    
        right : auto;

        z-index : auto;
        /* basic modern patch */
        float:left;
        width:100%; 

        font-size: 1.4rem;
    }

    .marginwrap .marginnote {
        float:left;
        width:100%; 
        top:0;

    }
        .marginwrap .margin-toggle:checked + .marginnote {
            left:0;
            width:100%;

            clear:both;
            display:block;
        }
        .more {padding-left:5%}
}
